.about-timeline {
  margin-top: 4rem;
  .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &--content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;

    @include m-breakpoint-down(lmedium) {
      justify-content: space-between;
    }

    &::after {
      content: "";
      position: absolute;
      width: 3px;
      background: $primary-color;
      top: 0;
      bottom: 230px;
      left: 13px;
      z-index: 1;

      @include m-breakpoint-up(medium) {
        display: none;
      }
    }

    .item {
      position: relative;
      z-index: 5;
      display: flex;
      flex-direction: column-reverse;
      gap: 5rem;

      @include m-breakpoint-down(small) {
        gap: 1rem;
        flex-direction: row;
      }

      .description {
        padding: 20px;
        border: 1px solid $primary-color;
        display: inline-block;
        border-radius: 10px;
        max-width: 300px;
        box-shadow: rgba(223, 223, 223, 0.3) 0px 0px 0px 3px;
        background-image: url(../../assets/contact-bg.svg);
        background-position: center center;
        background-size: cover;

        @include m-breakpoint-down(small) {
          width: 100%;
          max-width: 100%;
        }

        p {
          font-weight: bold;
        }
      }

      ul {
        margin: 10px 0;
        li {
          font-size: 0.9765rem;
        }
      }
    }

    .point {
      width: 30px;
      min-width: 30px;
      height: 30px;
      border: 2px solid $primary-color;
      background-color: $white;
      border-radius: 500px;
      position: relative;

      span {
        content: "";
        position: absolute;
        height: 3px;
        width: 300px;
        border-top: 1px solid $primary-color;
        background-color: $primary-color;

        top: 50%;
        left: 150%;
        transform: translateY(-50%);

        @include m-breakpoint-down(small) {
          top: unset;
          display: none;
          bottom: 50%;
          left: 50%;
          height: 200px;
          width: 3px;
          border-top: none;
          border-left: 1px solid $primary-color;
          transform: translate(0%, -50%);
        }
      }

      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $primary-color;
        border-radius: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::after {
        content: "";
        position: absolute;
        width: 3px;
        height: 80px;
        border-left: 1px dashed $primary-color;

        top: -80px;
        left: 50%;
        transform: translateX(-50%);

        @include m-breakpoint-down(small) {
          transform: rotate(90deg);
          width: 3px;
          height: 17px;
          border-left: 1px dashed #1192d3;
          top: 7px;
          left: unset;
          right: -50%;
        }
      }
    }
  }

  @include m-breakpoint-down(lmedium) {
    margin-top: 20rem;
  }

  @include m-breakpoint-down(small) {
    margin-top: 12rem;
  }
}

.dark {
  .about-timeline {
    &--content {
      .item {
        .description {
          border: 1px solid $accent-color;
          box-shadow: rgba(223, 223, 223, 0.3) 0px 0px 0px 3px;
          background-image: url(../../assets/contact-bg-dark.svg);
        }
      }

      &::after {
        background: $accent-color;
      }

      .point {
        border: 2px solid $accent-color;
        background-color: $dark-color;

        span {
          border-top: 1px solid $accent-color;
          background-color: $accent-color;
        }

        &::before {
          background-color: $accent-color;
        }

        &::after {
          border-left: 1px dashed $accent-color;
        }
      }
    }
  }
}
