.about-timeline {
  margin-bottom: 12rem;
  .container {
    padding-top: 3rem;
    padding-bottom: 5rem;
    padding-left: 0.5rem;
  }

  &--content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      background: $primary-color;
      top: 0;
      bottom: 165px;
      left: 15px;
      z-index: 1;

      @include m-breakpoint-up(medium) {
        display: none;
      }
    }

    .item {
      position: relative;
      z-index: 5;
      display: flex;
      flex-direction: column-reverse;
      gap: 5rem;

      @include m-breakpoint-down(small) {
        gap: 1rem;
        flex-direction: row;
      }

      .description {
        padding: 20px;
        border: 1px solid $primary-color;
        display: inline-block;
        border-radius: 10px;
        max-width: 300px;
        box-shadow: rgba(178, 178, 178, 20%) 0px 0px 0px 3px;
        background-image: url(../../assets/contact-bg.svg);
        background-position: center center;
        background-size: cover;

        @include m-breakpoint-down(small) {
          width: 100%;
          max-width: 100%;
        }

        p {
          font-weight: bold;
        }
      }

      ul {
        margin: 10px 0;
        li {
          font-size: 0.9765rem;
        }
      }
    }

    .point {
      width: 30px;
      min-width: 30px;
      height: 30px;
      border: 2px solid $primary-color;
      background-color: $white;
      border-radius: 500px;
      position: relative;

      span {
        content: "";
        position: absolute;
        height: 1px;
        width: 320px;
        border-top: 1px solid $primary-color;
        background-color: $primary-color;

        top: 50%;
        left: 100%;
        transform: translateY(-50%);

        @include m-breakpoint-down(small) {
          top: unset;
          display: none;
          bottom: 50%;
          left: 50%;
          height: 200px;
          width: 3px;
          border-top: none;
          border-left: 1px solid $primary-color;
          transform: translate(0%, -50%);
        }
      }

      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $primary-color;
        border-radius: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::after {
        content: "";
        position: absolute;
        width: 3px;
        height: 80px;
        border-left: 1px dashed $primary-color;

        top: -80px;
        left: 50%;
        transform: translateX(-50%);

        @include m-breakpoint-down(small) {
          transform: rotate(90deg);
          width: 3px;
          height: 17px;
          border-left: 1px dashed #1192d3;
          top: 7px;
          left: unset;
          right: -50%;
        }
      }
    }
  }

  .column_layout {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 1000px;
    width: 850px;
    flex-wrap: wrap;
    gap: 2rem 0;
    justify-content: space-evenly;
    margin: auto;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      background: $light-color;
      top: 1rem;
      bottom: -3rem;
      left: 50%;
      z-index: 1;
      display: block;

      @include m-breakpoint-up(medium) {
        // display: none;
      }
    }

    .item {
      &:nth-child(even) {
        &::before {
          content: "";
          position: absolute;
          width: 100px;
          height: 1px;
          background-color: $light-color;
          top: 4rem;
          left: -2.595rem;
          z-index: -1;
        }
        
        transform: translateY(2rem);
      }

      &::before {
        content: "";
        position: absolute;
        width: 100px;
        height: 1px;
        background-color: $light-color;
        top: 3rem;
        right: -2.7rem;
        z-index: -1;
      }
      position: relative;
      z-index: 5;
      display: flex;
      flex-direction: row;
      gap: 5rem;

      @include m-breakpoint-down(small) {
        gap: 1rem;
        flex-direction: row;
      }

      .description {
        padding: 20px;
        border: 1px solid $primary-color;
        display: inline-block;
        border-radius: 10px;
        max-width: 300px;
        box-shadow: rgba(178, 178, 178, 20%) 0px 0px 0px 3px;
        background-image: url(../../assets/contact-bg.svg);
        background-position: center center;
        background-size: cover;

        @include m-breakpoint-down(small) {
          width: 100%;
          max-width: 100%;
        }

        p {
          font-weight: bold;
        }
      }

      ul {
        margin: 10px 0;
        li {
          font-size: 0.9765rem;
        }
      }
    }

    .item:last-child {
      &::before {
        content: "";
        display: none;
      }
    }

    .point {
      width: 30px;
      min-width: 30px;
      height: 30px;
      border: 2px solid $primary-color;
      background-color: $white;
      border-radius: 500px;
      position: relative;

      span {
        content: "";
        position: absolute;
        height: 1px;
        width: 320px;
        border-top: 1px solid $primary-color;
        background-color: $primary-color;

        top: 50%;
        left: 100%;
        transform: translateY(-50%);

        @include m-breakpoint-down(small) {
          top: unset;
          display: none;
          bottom: 50%;
          left: 50%;
          height: 200px;
          width: 3px;
          border-top: none;
          border-left: 1px solid $primary-color;
          transform: translate(0%, -50%);
        }
      }

      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $primary-color;
        border-radius: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::after {
        content: "";
        position: absolute;
        width: 3px;
        height: 80px;
        border-left: 1px dashed $primary-color;

        top: -80px;
        left: 50%;
        transform: translateX(-50%);

        @include m-breakpoint-down(small) {
          transform: rotate(90deg);
          width: 3px;
          height: 17px;
          border-left: 1px dashed #1192d3;
          top: 7px;
          left: unset;
          right: -50%;
        }
      }
    }
  }

  @include m-breakpoint-down(lmedium) {
    margin-top: 20rem;
    margin-bottom: 2rem;
  }

  @include m-breakpoint-down(small) {
    margin-top: 12rem;
    margin-bottom: 2rem;
  }
}

.dark {
  .column_layout {
    &::after {
      background: $light-color !important;
    }
  }
}

.animate-ping {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 rgba($primary-color, 0.8);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($primary-color, 0.8);
  }
  70% {
    box-shadow: 0 0 0 10px rgba($primary-color, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($primary-color, 0);
  }
}

@keyframes pulse_dark {
  0% {
    box-shadow: 0 0 0 0 rgba($accent-color, 0.8);
  }
  70% {
    box-shadow: 0 0 0 10px rgba($accent-color, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($accent-color, 0);
  }
}

.dark {
  .about-timeline {
    &--content {
      .item {
        .description {
          border: 1px solid $accent-color;
          box-shadow: rgba(178, 178, 178, 20%) 0px 0px 0px 3px;
          background-image: url(../../assets/contact-bg-dark.svg);
        }
      }

      &::after {
        background: $accent-color;
      }

      .point {
        border: 2px solid $accent-color;
        background-color: $dark-color;

        span {
          border-top: 1px solid $accent-color;
          background-color: $accent-color;
        }

        &::before {
          background-color: $accent-color;
        }

        &::after {
          border-left: 1px dashed $accent-color;
        }
      }
    }
  }

  .animate-ping {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 0 rgba($accent-color, 0.8);
    animation: pulse_dark 1s infinite;
  }
}
