.article_by_category {

  .loading_sec {
    height: 20rem;
  }

  &--wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @include m-breakpoint-down(lmedium) {
      grid-template-columns: repeat(2, 50%);
    }

    @include m-breakpoint-down(small) {
      grid-template-columns: repeat(1, 100%);
    }
  }

  .not_found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    margin: 4rem auto;

    p {
      font-size: 14px;
    }
  }
}
