.article_page {
  .container_x_sm {
    @include m-breakpoint-down(small) {
      padding: 0;
    }
  }
  .breadcrumb {
    margin-bottom: 1rem;
    font-size: 18px;
    .item {
      cursor: pointer;
    }
  }
  &--header {
    margin-bottom: 2rem;

    .title {
      font-size: $fs-500;

      @include m-breakpoint-down(small) {
        font-size: 32px;
      }
    }

    .created_date {
      font-size: 14px;
    }
  }

  .categories {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    .category {
      font-size: 18px;
      padding: 5px 15px;
      background-color: $light-color;
      display: inline-block;
      border-radius: 9999px;
    }
  }

  .title_image {
    margin-bottom: 2rem;
  }

  .share_banner {
    display: flex;
    margin: 2rem 0;
    gap: 20px;
    align-items: center;

    @include m-breakpoint-down(small) {
      flex-direction: column;
    }
    p {
      font-size: 16px;
      font-weight: bold;
    }

    .icons {
      display: flex;
      gap: 20px;
      align-items: center;
      flex-wrap: wrap;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.dark {
  .article_page {
    .categories {
      .category {
        background-color: $dark-primary-color;
        color: $light-color;
      }
    }
  }
}
