.about_hero {
  margin-top: 2rem;
  &--wrapper {
    display: flex;

    min-height: 80vh;

    @include m-breakpoint-down(lmedium) {
      gap: 2rem;
      flex-direction: column;
    }
  }

  &--content {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: sticky;
      top: 0;
    }

    .intro {
      font-weight: bold;
      font-size: 1.6rem;

      @include m-breakpoint-down(small) {
        font-size: 1.2rem;
      }
    }
    .description {
      font-size: 1.6rem;

      @include m-breakpoint-down(small) {
        font-size: 1.2rem;
      }
    }

    @include m-breakpoint-down(lmedium) {
      margin-top: 10rem;
    }

    h1 {
      // width: 80%;
      // padding-top: 100px;
      font-size: 3rem;

      @include m-breakpoint-down(small) {
        font-size: 1.5rem;
      }
    }
  }

  &--image {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 5px dashed rgba($primary-color, 0.3);
    // border-left: 5px dashed rgba($primary-color, 0.3);
    @include m-breakpoint-down(lmedium) {
      border-right: 5px dashed rgba($primary-color, 0.3);
      border-left: 5px dashed rgba($primary-color, 0.3);
    }

    img {
      width: 70%;
      height: 500px;
      border: 3px solid $primary-color;
      object-fit: cover;
      object-position: bottom;
      border-radius: 15px;

      @include m-breakpoint-down(lmedium) {
        width: 70%;
        height: 600px;
      }

      @include m-breakpoint-down(small) {
        width: 90%;
        height: 400px;
      }
    }
  }
}

.dark {
  .about_hero {
    &--image {
      border-right: 5px dashed rgba($accent-color, 0.3);
      @include m-breakpoint-down(lmedium) {
        border-right: 5px dashed rgba($accent-color, 0.3);
        border-left: 5px dashed rgba($accent-color, 0.3);
      }
      img {
        border: 3px solid $accent-color;
      }
    }
  }
}
