.description {
  &--introduction {
    @include m-breakpoint-down(small) {
      padding: 0 !important;
    }
  }

  &--development {
    @include m-breakpoint-down(small) {
      padding: 0 !important;
    }
  }

  &--challenge {
    display: flex;
    gap: 10px;
    flex-direction: row;

    .item {
      flex: 1;
      padding: 20px 15px;
      padding-bottom: 0;
      border-top: 5px solid rgba($primary-color, 0.5);
      // border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
        rgb(209, 213, 219) 0px 0px 0px 1px inset;
    }

    @include m-breakpoint-down(small) {
      flex-direction: column;
      padding: 0 !important;
    }
  }

  .conclusion_div {
    margin-top: 3rem;
  }

  .typo {
    margin: 0;
    margin-bottom: -35px;

    @include m-breakpoint-down(small) {
      margin-bottom: -10px;
    }
  }
}

.no_pad_con {
  @include m-breakpoint-down(small) {
    padding: 0 !important;
  }

  .logo_img {
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}

.palette_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  @include m-breakpoint-down(small) {
    justify-content: space-between;
  }
  .palette_item {
    text-align: center;
    font-size: 14px;

    @include m-breakpoint-down(small) {
      margin-bottom: 1rem;
    }
    .color_block {
      width: 100px;
      height: 100px;
      border-radius: 10px;
      display: inline-block;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
  }
}

.designing_section {
  .container_sm {
    margin-top: 2rem;
  }
}

.view_live_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  > i {
    margin-left: 10px;
  }
}

.mockup_img {
  margin: 9rem auto;
  width: 80%;
  transform: scale(1.5);

  @include m-breakpoint-down(lmedium) {
    width: 100%;
    margin: 3rem auto;
    transform: scale(1);
  }
}

.block_content {
  margin-bottom: 1rem;

  p:empty, h5:empty {
    display: none;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    color: $primary-color !important;

    br {
      display: none;
    }
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36;
    font-weight: 500;
    margin-bottom: 0.3rem;
  }

  h4 {
    font-size: 28px;

    @include m-breakpoint-down(small) {
      font-size: 23px;
    }
  }

  h5 {
    font-size: 23px;
    font-weight: 500;
    padding-top: 2.5rem;
    border-top: 1px solid $light-color;
    margin: 2.5rem 0 1.3rem !important;
  }

  h6 {
    text-align: center;
    margin-top: 0;
    font-weight: normal;
    font-family: $font-primary !important;
  }

  a {
    color: $primary-color;
  }

  figure {
    margin-bottom: 1.5rem;

    img {
      width: 100%;
      // box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    }
  }

  blockquote {
    font-size: 1.3rem;
    padding: 1.5rem 0 1.5rem 15px;
    border-left: 5px solid gray;
    margin: 2rem 0;
  }

  p, img {
    margin-bottom: 2rem;

    @include m-breakpoint-down(small) {
      font-size: calUni(16px);
    }
  }

  ul, ol {
    margin: 0;
  }

  li {
    margin-bottom: 0.7rem;
  }

  img {
    margin: auto;
  }

  .code-hl {
    margin-bottom: 2rem;
  }
}

.dark {
  .block_content {
    h1, h2, h3, h4, h5, h6 {
      color: $accent-color !important;

      a {
        color: $accent-color !important;
      }
    }

    h5 {
      border-top: 1px solid #4d5a68;
    }
  }

  .description {
    &--challenge {
      .item {
        border-top: 5px solid rgba($accent-color, 0.5);
      }
    }
  }

  a {
    color: $accent-color;
  }
}
