@keyframes square_1_ani {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(16.22deg);
    }
}

@keyframes square_2_ani {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(7.34deg);
    }
}