@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Berkshire+Swash&display=swap&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plaster&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "./mixins";
@import "./variables";
@import "./animations";
@import "./utilities";

@import "../components/Navbar/Navbar";
@import "../components/HomeHero/HomeHero";
@import "../components/HomeAbout/HomeAbout";
@import "../components/HomeProjects/HomeProjects";
@import "../components/HomeMotto/HomeMotto";
@import "../components/HomeSkills/HomeSkills";
@import "../components/HomeContact/HomeContact";
@import "../components/Footer/Footer";

@import "../components/ContactHero/ContactHero";

@import "../components/ProjectHero/ProjectHero";
@import "../components/ProjectStatus/ProjectStatus";
@import "../components/ProjectDescription/ProjectDescription";

@import "../components/ServiceHero/ServiceHero";
@import "../components/ServiceBody/ServiceBody";

@import "../components/Animated/AnimatedSVG";

@import "../components/AboutHero/AboutHero";
@import "../components/AboutTimeline/AboutTimeline";
@import "../components/AllCredits/AllCredits";

@import "../components/Testimonials/Testimonials";
@import "../components/AboutWriting/AboutWriting";
@import "../components/AboutWishing/AboutWishing";

@import "../components/WritingHero/WritingHero";
@import "../components/WritingCategory/WritingCategory";
@import "../components/WritingAllArticles/WritingAllArticles";

@import "../components/ArticleDetail/ArticleDetail";
@import "../components/ArticleByCategory/ArticleByCategory";

@import "../components/Pagination/Pagination";
@import "../components/Error/Error";

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

::-webkit-scrollbar-thumb:active {
  background: #d6d6d6;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
  border: 0px none #ffffff00;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #ffffff00;
}

::-webkit-scrollbar-track:active {
  background: #ffffff00;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Selection Styles */
::-moz-selection {
  /* Code for Firefox */
  color: $white;
  background: $primary-color;
}

::selection {
  color: $white;
  background: $primary-color;
}

.dark {
  ::-moz-selection {
    /* Code for Firefox */
    color: $white;
    background: $accent-color;
  }

  ::selection {
    color: $white;
    background: $accent-color;
  }
}

/* Cursor Styles */
html,
body {
  .main_content {
    // min-height: 100vh;
    cursor: url(../assets/light-cursor.svg), auto !important;
  }

  .main_content.dark {
    cursor: url(../assets/dark-cursor.svg), auto !important;
  }
}

.dark .main_content {
  cursor: url(../assets/dark-cursor.svg), auto !important;
}

/* Theme icons switching */
.sun_icon {
  visibility: visible;
  opacity: 1;
}

.dark .sun_icon {
  visibility: hidden;
  opacity: 0;
}

.moon_icon {
  visibility: hidden;
  opacity: 0;
}

.dark .moon_icon {
  visibility: visible;
  opacity: 1;
}

/* Link styles */
a,
button {
  cursor: url(../assets/light-cursor-pointer.svg), auto !important;
}

.dark {
  a,
  button {
    cursor: url(../assets/dark-cursor-pointer.svg), auto !important;
  }
}

.route {
  cursor: url(../assets/light-cursor-pointer.svg), auto !important;
}

.dark {
  .route {
    cursor: url(../assets/dark-cursor-pointer.svg), auto !important;
  }
}

/* Minor Tags */
strong {
  color: $primary-color;
}

.dark strong {
  color: $accent-color;
}

code {
  padding: 5px;
  background-color: $light-color;
  border-radius: 5px;
  line-height: 3;
  font-size: 16px;

  @include m-breakpoint-down(small) {
    font-size: 14px;
  }
}

.dark code {
  background-color: #333;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html {
  scroll-behavior: auto !important;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: auto;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  pointer-events: none;
  user-select: none;
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and auto scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Simplify.css */
.simple_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  h1 {
    margin-bottom: 20px;
  }
}

.simple_skills p {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.simple_states p {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.simple_projects p {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

@keyframes line_animation {
  0% {
    transform: translateX(-100px) scaleX(0);
  }

  50% {
    transform: translateX(0) scaleX(1);
  }

  100% {
    transform: translateX(100px) scaleX(0);
  }
}

.loading-trans {
  display: flex;
  flex-direction: column;
}

.loading-line {
  width: 100px;
  height: 2px;
  background-color: $primary-color;
  animation: line_animation 1000ms ease-in infinite alternate;
}

.dark {
  .loading-line {
    background-color: $accent-color;
  }
}

/* targeting only firefox browser */
@-moz-document url-prefix() {
  html {
    scroll-behavior: auto !important;
  }

  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: auto !important;
  }
}

.code-section {
  background: black;
  color: lightgreen;
  padding: 20px;
  margin-bottom: 20px;
  overflow: scroll;

  font-size: 16px;
  font-family: monospace;

  @include m-breakpoint-down(small) {
    font-size: 14px;
  }
}

.code-hl {
  font-size: 16px;

  @include m-breakpoint-down(small) {
    font-size: 14px;
  }
}

.code-section pre {
  margin: 0;
}

.code-section code {
  padding: unset;
  background-color: unset;
  border-radius: unset;
  line-height: unset;
}

.code-hl code {
  padding: unset;
  background-color: unset;
  border-radius: unset;
  line-height: unset;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  font-family: "Plaster", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 74px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

// * {
//   filter: grayscale(100%) !important;
// }