.writing_category {
  &--title {
    font-weight: bold;
  }

  .loading_sec {
    height: 10rem;
  }

  &--item_wrapper {
    display: grid;
    gap: 15px;
    margin-top: 1rem;
    grid-template-columns: repeat(6, 1fr);

    @include m-breakpoint-down(lmedium) {
      grid-template-columns: repeat(4, 25%);
    }

    @include m-breakpoint-down(small) {
      gap: 15px;
      grid-template-columns: repeat(2, 45%);
      justify-content: center;
    }

    .category_item {
      border-radius: 10px;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      box-shadow: rgba(178, 178, 178 ,30%) 0px 0px 0px 3px;
      transition: all 300ms ease;

      &:hover {
        box-shadow: $primary-color 0px 0px 0px 3px;
        background-size: 150%;

        .title {
          color: $primary-color;
        }
      }

      .overlay {
        // width: 200px;
        height: 100px;
        background-color: rgba($dark-color, 0.8);
        @include flex-center;

        @include m-breakpoint-down(small) {
            height: 70px;
        }
      }

      .title {
        font-weight: bold;
        font-family: $font-title;
        font-size: $fs-200;
        text-align: center;
        color: $light-color;
        transition: all 300ms ease;

        @include m-breakpoint-down(small) {
          font-size: 14px;
        }
      }
    }
  }
}

.dark {
  .writing_category {
    &--item_wrapper {
      .category_item {
        &:hover {
          box-shadow: $accent-color 0px 0px 0px 3px;
          .title {
            color: $accent-color;
          }
        }
      }
    }
  }
}
