.writing_category {
  &--title {
    font-weight: bold;
  }

  .container_y_3 {
    padding-bottom: 1rem;
  }

  .loading_sec {
    height: 3rem;
  }

  &--item_wrapper {
    // display: grid;
    // gap: 15px;
    margin-top: 1rem;
    // grid-template-columns: repeat(6, 1fr);

    // @include m-breakpoint-down(lmedium) {
    //   grid-template-columns: repeat(4, 25%);
    // }

    // @include m-breakpoint-down(small) {
    //   gap: 10px;
    //   grid-template-columns: repeat(2, 45%);
    //   justify-content: center;
    // }
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    .category_item {
      border-radius: 10px;


      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      box-shadow: rgba(178, 178, 178 ,30%) 0px 0px 0px 3px;
      transition: all 300ms ease;

      &:hover {
        box-shadow: $primary-color 0px 0px 0px 3px;
        background-size: 150%;

        .title {
          color: $primary-color;
        }
      }

      .overlay {
        // width: 200px;
        // height: 60px;
        padding: 5px 10px;
        // background-color: rgba($dark-color, 0.8);
        background-color: white;
        @include flex-center;

        // @include m-breakpoint-down(small) {
        //     height: 50px;
        // }
      }

      .title {
        font-weight: 300;
        font-family: $font-title;
        font-size: 16px;
        text-align: center;
        // color: $light-color;
        color: $dark-color;
        transition: all 300ms ease;

        @include m-breakpoint-down(small) {
          font-size: 14px;
        }
      }
    }
  }
}

.dark {
  .writing_category {
    &--item_wrapper {
      .category_item {
        .overlay {
          background-color: $dark-color;
        }
        .title {
          color: $light-color;
        }
        &:hover {
          box-shadow: $accent-color 0px 0px 0px 3px;
          .title {
            color: $accent-color;
          }
        }
      }
    }
  }
}
